.modal-window {
    position: absolute;
    z-index: 2;
    width: 540px;
    background-color: white;
    top: 30px;
    left: 50%;
    margin-left: -270px;
    z-index: 2;
    border-radius: 4px;
    box-sizing: border-box;
}
.modal-window form > div {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
}
.modal-window label {
    margin-right: 8px;
}
.modal-window form > div:first-child {
    display: flex;
    align-items: center;
}
.modal-window input,
.modal-window select {
    box-sizing: border-box;
    height: 26px;
    outline: none;
    font-family: monospace;
    padding: 0 4px;
}
.modal-window input[type=date] {
    margin-right: 16px;
}
.modal-window div.dates {
    text-transform: lowercase;
    font-style: italic;
    margin-top: 8px;
} 
.modal-window input[type=text] {
    width: 100%;
}
.modal-window textarea {
    outline: none;
    resize: none;
    height: 80px;
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
}
.modal-window form > div:last-child {
    text-align: right;
    margin-bottom: 0;
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
}
.modal-window button:last-child {
    background-color: gray;
}
.modal-window button {
    border: 0;
    background-color: orangered;
    padding: 8px 0;
    width: 68px;
    color: white;
    border-radius: 4px;
}
.modal-bg {
    background-color: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.modal-window.hidden,
.modal-bg.hidden {
    display: none;
}