.table {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 0 10px;
    height: 46px;
    font: normal 13px Arial;
}
.table-row.th {
    background-color: #888;
    border-radius: 4px;
    font-weight: 700;
    color: white;
    height: 36px;
    font-size: 14px;
}
.table-row > div:first-child,
.statistics .table-row > div:first-child {
    min-width: 48px;
    width: 48px;
    text-align: center;
    padding: 0;
}
.table-row > div:last-child {
    min-width: 90px;
    width: 90px;
    padding: 0;
}
.table-row > div {
    width: 16%;
    padding: 0 8px;
}
.table-row > div span {
    display: inline-block;
    box-sizing: border-box;
}
.table-row.archived {
    background-color: lightcoral;
}
.statistics .table-row > div {
    width: 30%;
}
.image-category {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 38px;
    height: 38px;
    border-radius: 19px;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
ul.head-buttons li:first-child {
    visibility: hidden;
}
ul li {
    width: 28px;
    height: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
ul li > svg {
    width: 70%;
    height: 70%;
}